body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 48px;
}
.ong{
    color: aqua;
}
section{
    display: flex;
}
.oh{
    width: 50%;
}
.oh img{
    width: 95%;

}
section{
    padding: 3%;
}
.now{
    text-decoration: none;
    background-color: orange; 
    padding: 10px 40px ;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}